/*#region FORMULARIO*/
.formulario-contacto {
  background: linear-gradient(90deg, rgba(45,42,97,1) 0%, rgba(9,28,121,1) 0%, rgba(0,212,255,1) 100%);
  display: flex;
  justify-content: center;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario-contacto form input {
  height: 40px;
}

.formulario-contacto form input, textarea {
  margin: 5px;
  border: none;
  border-radius: 20px;
  width: 75%;
  background: lightgray;
}

.form-components {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0 25px 0;
  background: white;
  border-radius: 25px;
  width: 500px;
}

.form-components > label {
  padding-left: 70px;
  padding-top: 20px;
  margin-right: auto;
}

.form-components > input:focus , textarea:focus {
  background: white;
  border: 1px solid grey;
}
/*#endregion*/

/*#region BOTÓN DE ENVÍO*/
.btn {
  width: 80%;
}

.btn input[type='submit'] {
  color: white;
  background: black;
  margin: 20px;
}

.btn > input[type='submit']:hover {
  background: grey;
  color: white;
  cursor: pointer;
}

.formulario-contacto textarea {
  resize: vertical;
}
/*#endregion*/

/*#region ESTILOS EN VERSIÓN MÓVIL*/
@media(max-width: 1250px) {
  .form-components {
    width: 325px;
  }

  .form-components > label {
    padding-left: 50px;
  }
}
/*#endregion*/
