/*#region ESTILOS POR DEFECTO*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*#endregion*/

/*#region ESTILOS HEADER*/
.layout {
  margin: 0 auto;
}

.header, .footer-general {
  background: #cacaca;
}
/*#endregion*/

/*#region ESTILOS DEL MENÚ*/
.header {
  display: flex;
  height: 100px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 150px;
  padding-left: 150px;
}

.header .logo {
  flex-grow: 2;
}

.header nav {
  flex-grow: 1;
}

nav ul {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.header li {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 22px;
  transform: 300ms;
}

.header li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.header a:after {
  transition: all ease-in-out .2s;
  background: none repeat scroll 0 0 orangered;
  content: '';
  display: block;
  height: 3px;
  width: 0;
}

.header a:hover {
  color: orangered;
}

.header a:hover:after {
  width: 100%;
}

.active-link {
  color: orangered !important;
  border-bottom: 3px solid orangered;
}
/*#endregion*/

/*#region MAIN CONTENT*/
.contenedor {
  background: grey;
  height: auto;
}
/*#endregion*/

/*#region FOOTER*/
.footer-general {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
}

.footer-general p {
  text-align: center;
  margin-bottom: 0;
}
/*#endregion*/

/*#region ESTILOS VERSIÓN MÓVIL*/
@media(max-width: 1250px) {
  .active-link {
    border-bottom: 0 !important;
  }

  .logo > h2 {
    text-align: left;
    padding-top: 10px;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  /*Cuando el usuario active el menú se activan estos estilos*/
  nav > ul {
    height: auto;
    display: block;
    padding: 15px;
  }

  /*Estilos para la animación del menú*/
  .container {
    display: inline-block;
    cursor: pointer;
  }

  .menu-content-hidden {
    display: none;
  }

  #menu-icon {
    margin-bottom: 10px;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  
}
/*#endregion*/
